<div class="level">
    <%= link_to 'Download your newly purchased art piece!', rails_blob_path(@item.image, only_path: true), class: 'download-image' %>
</div>

<div>
    <%= link_to 'Back', items_path %>
</div>
