<div class="jumbotron">
    <div class="row">
        <h1 class="display-4">Let's Gogh:</h1>
        <!-- <hr class="my-4"> -->
    </div>
    <div class="row">
        <p class="lead">A marketplace for digital art trade</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary btn-lg" href="items#show" role="button">Buy Art</a>  
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary btn-lg" href="items#create" role="button">Sell Art</a>
        </div>
    </div>
    <%= image_tag "enter.jpg", class: "enter-image"%>
</div>

