<p id="notice"><%= notice %></p>
<p id="edit-profile"><%= link_to 'Edit Your Profile', edit_user_registration_path(current_user) %></p>

<h1>Your Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
        <tr>
            <td><%= order.item_id.item.title %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>