// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.item-image{
    min-width: 40%;
    min-height: 40%;
}

.item-image-preview{
    width: 25%;
    height: 25%;
}

.item-description{
    min-height: 50px;
}

.list-group-item{
    min-height: 50px;
}

.media-body p, h5 {
}